.body-hidden {
    overflow: hidden;
}

.form-wrapper {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
}

.form {
    box-sizing: border-box;
    min-width: 500px;
    padding: 50px 10px;
    position: relative;
}

.btn-delete--form {
    position: absolute;
    top: 50px;
    right: 20px;
}

#title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

#text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
.submit:hover{
    cursor: pointer;
}
.btn-add-card {
    top: 20px;
    left: 50px;
    position: sticky;
    padding: 5px 10px;
}
.btn-add-card:hover{
    cursor: pointer;
}
.card {
    margin: 20px auto;
    background-color: #b1b1b1;
    padding: 20px 20px;
    max-width: 600px;
    border-radius: 25px;
}

.card-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.card__title {
    margin-top: 0;
}

.btn-delete {
    width: 25px;
    height: 25px;
}
.btn-delete:hover{
    cursor: pointer;
}

.card__btn-delete {
    position: relative;
}

.btn-delete__line {
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #000;
    left: 0;
    top: 10px;
}

.btn-delete__line--1 {
    transform: rotate(45deg);
}

.btn-delete__line--2 {
    transform: rotate(-45deg);
}
.user-wrapper{
    display: flex;
    justify-content: space-between;
}
.card__user {
    display: flex;
    column-gap: 20px;
}

.btn-edit {
    background-color: transparent;
    padding: 0;
    border: none;
}
.btn-edit:hover{
    cursor: pointer;
}

.lds-roller {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller.hidden {
    display: none;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.form-edit{
    display: block;
}
#title-edit{
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
   width: 500px;
}
#text-edit{
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.submit-edit{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.submit-edit:hover{
    cursor: pointer;
}